doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Sky Order
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner

		.wrapper

			.container
				header
					.header__top.oder-head.row
						.header__phone-oder
							.header__phone 8 (495) 999-99-99
							.header__oder
								a(href="#") Заказать бесплатный звонок

						.form-log

							form.header__search(action="#")
								i.fa.fa-search.input-icon
								input(type="text" placeholder="Найти идеи, товары, фото и кое-что еще...")
							i.fa.fa-search.fa-2x.header__search-icon

							.log-in
								a(href="#") Личный кабинет

					.header__body
						.header__body-inner
							.header__logo-wrap
								.logo
									
									a(href="main.html")
										img(src="images/logo.png" alt="")
									h1 
										a(href="main.html") изготовление натяжных потолков
											span.logo-star STAR
											span.logo-profit PROFIT

							.header__menu-wrap
								.toggle-wrap
									.toggle-button
										span.sandwich
											span.sw-topper 
											span.sw-bottom 
											span.sw-footer 
								ul.menu
									li 
										a(href="#") О КОМПАНИИ

										ul
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО 
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ
									li 
										a(href="#") ПОТОЛКИ
									li 
										a(href="#") КОМПЛЕКТУЮЩИЕ

										ul
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ

									li 
										a(href="#") ЗВЕЗДНОЕ НЕБО

							.header__button-wrap
								button.blue_button заказать потолок

			//- модальное окно входа

			.underlay
				.log-modal.modal_close

					.log-modal__close
					form.log-modal__form

						.log-modal__title Мобильный телефон
						input(type="text")

						.log-modal__title.log_pass Пароль:
						.log-modal__forgot Забыли пароль?
						input(type="text")
						label
							input(type="checkbox")
							span запомнить меня на этом копьютере

						input(type="submit" value="ВОЙТИ")

						.log-modal__reg Регистрация

				//- конец  модальное окно входа

				//- модальное окно регистрация

				.reg-modal.modal_close
					.reg-modal__close
					.reg-title Регистрация
					form
						.log-modal__title Ф.И.О.
						input.reg-modal__name(type="text" placeholder="Иванов Иван Иванович") 

						.log-modal__title Мобильный телефон
						input.reg-modal_phone(type="text" placeholder="+7-961-591-7530") 

						.log-modal__title Пароль:
						input.reg-modal_phone(type="password" placeholder="********")

						.log-modal__title Подтвердите пароль:
						input.reg-modal_phone.error_input(type="password" placeholder="********")
						span.error_after ошибка	

						label
							input(type="checkbox")
							span Подписаться на скидки и акции по смс (1 раз в неделю)

						input(type="submit" value="ПОДТВЕРДИТЬ")

						.reg-modal__agreed Нажимая на кнопку подтвердить, я соглашаюсь 
							a(href="#") с условиями публичной оферты


			//- конец  модальное окно регистрация


			section.oder-ceiling.s_dark
				.container
					.row
						.col-lg-12
							.h2-wrap
								h2 ЗАКАЗАТЬ ПОТОЛОК

						.col-lg-12
							h5
								span 1
								| ПОТОЛКИ


							.ceiling

								.ceiling__number 1

								.ceiling__block

									.ceiling__download

										a(href="#")
											img(src="images/download_but.png" alt="")
											span Загрузить замерный лист

									ul.ceiling__buttons
										li
											a(href="javascript:void(0)") ПВХ-гарпун
										li
											a(href="javascript:void(0)") ПВХ-отрез
										li
											a(href="javascript:void(0)") ткань

									.ceiling__manufact

										select
											option Выбрать производителя
											option производителя 1
											option производителя 2

										select
											option Выбрать структуру
											option производителя 1
											option производителя 2

									.ceiling__param

										.input-block
											.input__title площадь
											input(type="text")
											| м2

										.input-block
											.input__title углы
											input(type="text")
											| шт

										.input-block
											.input__title вырез
											input(type="text")
											| м.п

										.input-block
											.input__title кривые
											input(type="text")
											| м.п


							.ceiling

								.ceiling__number 2

								.ceiling__block

									.ceiling__download

										a(href="#")
											img(src="images/download_but.png" alt="")
											span Загрузить замерный лист

									ul.ceiling__buttons
										li
											a(href="javascript:void(0)") ПВХ-гарпун
										li
											a(href="javascript:void(0)") ПВХ-отрез
										li
											a(href="javascript:void(0)") ткань

									.ceiling__manufact

										select
											option Выбрать производителя
											option производителя 1
											option производителя 2

										select
											option Выбрать структуру
											option производителя 1
											option производителя 2

									.ceiling__param

										.input-block
											.input__title площадь
											input(type="text")
											| м2

										.input-block
											.input__title углы
											input(type="text")
											| шт

										.input-block
											.input__title вырез
											input(type="text")
											| м.п

										.input-block
											.input__title кривые
											input(type="text")
											| м.п


							.oder-ceiling__footer

								.oder-ceiling__add
									a(href="#") Добавить потолок

								.oder-ceiling__result
									table

										tr
											td Потолок 1:
											td 1 200р.

										tr
											td Потолок 2:
											td 1 200р.

										tfoot
											tr
												td Все потолки:
												td 2000р.
			
			.container
				section.oder-accessor.s_white
					.row
						.col-lg-12
							h5
								span 2
								| КОМПЛЕКТУЮЩИЕ


							table
								thead
									tr
										td Фото
										td.mater-td Материалы
										td.quantity-td Количество
										td Цена,шт 
										td Стоимость
										td 

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

							.oder-accessor__footer

								.oder-accessor__add
									a(href="#") Добавить комплектующие

								.font_18istok Всего: 
									span 3 580р.

				section.oder-accessor.s_white
					.row
						.col-lg-12
							h5
								span 3
								| ОСВЕЩЕНИЕ


							table
								thead
									tr
										td Фото
										td.mater-td Материалы
										td.quantity-td Количество
										td Цена,шт 
										td Стоимость
										td 

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

								tbody
									tr
										td.img-td
											img(src="images/table_img.jpg" alt="")

										td.mater-td
											.mater-title Стеновой алюминиевый багет
											p Они более тяжелы, хоть и производятся из тонкого облегченного сплава. Но, в то же время металлический профиль и значительно прочнее пластикового, что является очень важным параметром при сооружении натяжных потолков в помещениях с большой площадью 

										td.quantity-td
											input(type="text")
											| шт.

										td.font_18istok 1 280p.
										td.font_18istok 1 280p.
										td 
											a(href="")
												img(src="images/close_btn.png" alt="")

							.oder-accessor__footer

								.oder-accessor__add
									a(href="#") Добавить комплектующие

								.font_18istok Всего: 
									span 3 580р.


				.send-oder
					form
						.send-order__left
							.send-order__row1
								.send-order__title День
								ul.send-order__days

									li.send-order__day.day_active
										span СР
										| сегодня

									li.send-order__day
										span СР
										| завтра
									li.send-order__day
										span СР
										| 03.08

									li.send-order__day
										span СР
										| 04.08

								.send-order__time
									.send-order__title Время
									select
										option 10:00 до 18:00 - 200р.
										option 11:00 до 15:00 - 300р.
										option производителя 2

							.send-order__row2

								.input-block
									.send-order__title Ваше имя
									input(type="text")

								.input-block
									.send-order__title Телефон
									input(type="text")

						.send-order__right
							.send-order__right-title Общая стоимость:

							table
								tr
									td Потолки:
									td 1 200р.
								tr
									td Комплектующие:
									td 800р.
								tr
									td Освещение:
									td 800р.
								tr
									td Срочность:
									td 
								tfoot
									tr.font_18istok
										td Итого:
										td 4 000р.
							
							button.blue_button ПОДТВЕРДИТЬ ЗАКАЗ

				.row
					.col-lg-12
						footer

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Популярные запросы

								ul.li-arrow
									li
										a(href="#") Новинки
									li
										a(href="#") Распродажа
									li
										a(href="#") Ортопедическая обувь
									li
										a(href="#") Первый шаг
									li
										a(href="#") Сменная обувь
									li
										a(href="#") Нарядная обу
									li
										a(href="#") Колготы и носки

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title О компании

								ul.li-arrow
									li
										a(href="#") Контакты
									li
										a(href="#") Оплата
									li
										a(href="#") Доставка и примерка
									li
										a(href="#") Возврат
									li
										a(href="#") Подарочная карта
									li
										a(href="#") Полезная информация	
									li
										a(href="#") Отзывы клиентов


							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Присоединяйтесь

								ul.li-social
									li
										i.fa.fa-vk(aria-hidden="true")
										a(href="#") вконтакте
									li
										i.fa.fa-facebook(aria-hidden="true")
										a(href="#") фейсбук
									li
										i.fa.fa-instagram(aria-hidden="true")
										a(href="#") инстаграмм
									li
										i.fa.fa-odnoklassniki(aria-hidden="true")
										a(href="#") одноклассники
									li
										i.fa.fa-shopping-cart(aria-hidden="true")
										a(href="#") яндекс маркет

									li
										a(href="#") Поделитесь вашим мнением!

							.designed.col-lg-12.col-xs-12 Дизайн: Владислав Павлычев





		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="js/custom.js")
