doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Star Sky Catalog
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner

		.wrapper

			.container
				header
					.header__top.row
						.header__phone-oder
							.header__phone 8 (495) 999-99-99
							.header__oder
								a(href="#") Заказать бесплатный звонок
					

						form.header__search(action="#")
							i.fa.fa-search.input-icon
							input(type="text" placeholder="Найти идеи, товары, фото и кое-что еще...")
						i.fa.fa-search.fa-2x.header__search-icon

					.header__body
						.header__body-inner
							.logo
								
								a(href="main.html")
									img(src="images/logo.png" alt="")
								h1 
									a(href="main.html") изготовление натяжных потолков
										span.logo-star STAR
										span.logo-profit PROFIT

							.header__menu-wrap
								.toggle-wrap
									.toggle-button
										span.sandwich
											span.sw-topper 
											span.sw-bottom 
											span.sw-footer 
								ul.menu
									li 
										a(href="#") О КОМПАНИИ

										ul
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО 
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ
									li 
										a(href="#") ПОТОЛКИ
									li 
										a(href="#") КОМПЛЕКТУЮЩИЕ

										ul
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ

									li 
										a(href="#") ЗВЕЗДНОЕ НЕБО

							.header__button-wrap
								button.blue_button заказать потолок

			section.sky-catalog.s_dark 
				.container
					.row
						.col-lg-12
							.h2-wrap
								h2 ПОЛУФАБРИКАТЫ ЗВЕЗДНОГО НЕБА

							p.star-sky_bold.
								На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 

							#catalog-collapse
								p.
									Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 

								p.
									Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 

							<a href="#catalog-collapse" class="collapse_button" data-toggle="collapse">далее...</a>

						button.blue_button.mt_40px КАЛЬКУЛЯТОР ЗВЕЗДНОГО НЕБА		


			.container

				section.s_white
					.row
						.col-lg-12
							.h2-wrap
								h2 ОПИСАНИЕ
							.company.company_star-page
								.sky_video
									| <iframe width="100%" height="270" src="https://www.youtube.com/embed/zNPaDrwwCHQ" allowfullscreen></iframe>
								p.
									На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо».  Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 
					.row
						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_measur.png" alt="")
								h3 Замер потолка
								p и утверждение размеров с клиентом

						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_manufact.png" alt="")
								h3 Изготовление
								p Заказ и изготовление полуфабриката на производстве

						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_deliver.png" alt="")
								h3 Доставка и монтаж
								p Звездного неба на объекте, гарантия до 25 лет
								
				section.s_white
					.h2-wrap.catalog__h2
						h2 КАТАЛОГ

					.row
						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Комплект до 5м (минимальный)
								.catalog__descr Фон звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200

						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Болид
								.catalog__descr Аницмация звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200
						
						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Комплект до 5м (минимальный)
								.catalog__descr Фон звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200

						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Комплект до 5м (минимальный)
								.catalog__descr Фон звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200

						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Комплект до 5м (минимальный)
								.catalog__descr Фон звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200

						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							img(src="images/catalog_img.jpg" alt="")

							.catalog__specific

								.catalog__title
									a(href="#") Комплект до 5м (минимальный)
								.catalog__descr Фон звездного неба
								.catalog__price
									span.catalog__sale 3450 p
									|  2400 p.
								.catalog__stars количество звезд: 200


				.row
					.col-lg-12
						footer

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Популярные запросы

								ul.li-arrow
									li
										a(href="#") Новинки
									li
										a(href="#") Распродажа
									li
										a(href="#") Ортопедическая обувь
									li
										a(href="#") Первый шаг
									li
										a(href="#") Сменная обувь
									li
										a(href="#") Нарядная обу
									li
										a(href="#") Колготы и носки

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title О компании

								ul.li-arrow
									li
										a(href="#") Контакты
									li
										a(href="#") Оплата
									li
										a(href="#") Доставка и примерка
									li
										a(href="#") Возврат
									li
										a(href="#") Подарочная карта
									li
										a(href="#") Полезная информация	
									li
										a(href="#") Отзывы клиентов


							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Присоединяйтесь

								ul.li-social
									li
										i.fa.fa-vk(aria-hidden="true")
										a(href="#") вконтакте
									li
										i.fa.fa-facebook(aria-hidden="true")
										a(href="#") фейсбук
									li
										i.fa.fa-instagram(aria-hidden="true")
										a(href="#") инстаграмм
									li
										i.fa.fa-odnoklassniki(aria-hidden="true")
										a(href="#") одноклассники
									li
										i.fa.fa-shopping-cart(aria-hidden="true")
										a(href="#") яндекс маркет

									li
										a(href="#") Поделитесь вашим мнением!

							.designed.col-lg-12.col-xs-12 Дизайн: Владислав Павлычев





		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="js/custom.js")
