doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width")
		title Star Sky
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick-theme.css")
		link(rel="stylesheet" href="libs/slick-carousel/slick/slick.css")
		link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet" href="css/main.css")

	body
		//- div.loader
		//- 	div.loader_inner

		.wrapper

			.container
				header
					.header__top.row
						.header__phone-oder
							.header__phone 8 (495) 999-99-99
							.header__oder
								a(href="#") Заказать бесплатный звонок
					

						form.header__search(action="#")
							i.fa.fa-search.input-icon
							input(type="text" placeholder="Найти идеи, товары, фото и кое-что еще...")
						i.fa.fa-search.fa-2x.header__search-icon

					.header__body
						.header__body-inner
							.logo
								
								a(href="main.html")
									img(src="images/logo.png" alt="")
								h1 
									a(href="main.html") изготовление натяжных потолков
										span.logo-star STAR
										span.logo-profit PROFIT

							.header__menu-wrap
								.toggle-wrap
									.toggle-button
										span.sandwich
											span.sw-topper 
											span.sw-bottom 
											span.sw-footer 
								ul.menu
									li 
										a(href="#") О КОМПАНИИ

										ul
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО 
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ
									li 
										a(href="#") ПОТОЛКИ
									li 
										a(href="#") КОМПЛЕКТУЮЩИЕ

										ul
											li
												a(href="#") О КОМПАНИИ 1
											li
												a(href="#") ЗВЕЗДНОЕ НЕБО
											li
												a(href="#") КОМПЛЕКТУЮЩИЕ

									li 
										a(href="#") ЗВЕЗДНОЕ НЕБО

							.header__button-wrap
								button.blue_button заказать потолок

			section.star-sky.s_dark 
				.container
					.row
						.col-lg-12
							.h2-wrap
								h2 ЗВЕЗДНОЕ НЕБО

							p.star-sky_bold.
								На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 

							#star-sky-collapse
								p.
									Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 

								p.
									Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо».

							<a href="#star-sky-collapse" class="collapse_button" data-toggle="collapse">далее...</a>

						button.blue_button.mt_40px КАЛЬКУЛЯТОР ЗВЕЗДНОГО НЕБА		


			.container
				section.s_white
					.row
						.col-lg-12
							.h2-wrap
								h2 ОПИСАНИЕ
							.company.company_star-page
								.sky_video
									| <iframe width="100%" height="270" src="https://www.youtube.com/embed/zNPaDrwwCHQ" allowfullscreen></iframe>
								p.
									На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо».  Это необычный вид натяжного потолка, ведь для того, чтобы поместить на ваш потолок звезды, требуется хитрая система. На сегодняшний день существует огромное множество разновидностей натяжных потолков. Но наиболее чарующими и волшебными среди них считаются натяжные потолки «Звездное небо». 
					.row
						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_measur.png" alt="")
								h3 Замер потолка
								p и утверждение размеров с клиентом

						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_manufact.png" alt="")
								h3 Изготовление
								p Заказ и изготовление полуфабриката на производстве

						.col-lg-4.col-md-4.col-sm-4
							.company__item.company__item_star-page
								img(src="images/descrip_deliver.png" alt="")
								h3 Доставка и монтаж
								p Звездного неба на объекте, гарантия до 25 лет


				section.s_white
					.h2-wrap
						h2 КАТАЛОГ

					.row
						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							.catalog__img
								
								.h4-wrap
									h4 Полубафрикаты звездного неба
								img(src="images/catalog__img.jpg" alt="")

						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							.catalog__img

								.h4-wrap
									h4 Комплектующие звездного неба
								img(src="images/catalog__img.jpg" alt="")
						
						.catalog__item.col-lg-4.col-md-4.col-sm-4.col-xs-6

							.catalog__img
								.h4-wrap
									h4 Панели звездного неба
								img(src="images/catalog__img.jpg" alt="")

				section.s_white
					.h2-wrap
						h2 НАШИ РАБОТЫ

					.works
						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")
						
						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")

						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")

						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")

						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")

						a(href="#").work
							span.work__hover
								span.work__hover-inner Потолок на кухне. Двухуровневый с светодиодной подсветкой. Цветной потолок с UV-фотопечатью 

									span.work__hover-button
										span.work__button подробнее

							img(src="images/our_works.jpg" alt="")

					.more-button-wrap
						button.more смотреть больше
						
				section.s_white
					.h2-wrap
						h2 ПОЛЕЗНЫЕ СТАТЬИ

					.row

						.article.col-lg-8.col-md-7.col-sm-6.col-xs-6
							img(src="images/big_article_img.jpg" alt="")

							.aticle-categor
								.aticle-categor__title Новинки и идеи для дизайнеров
								.aticle-categor__message
									i.fa.fa-comments(aria-hidden="true")
									| 38
								.aticle-categor__views
									i.fa.fa-eye(aria-hidden="true")
									| 6194
								

							.article__title Как сделать потолок «Звездное небо» своими руками

							p.
								Тоска по летнему отпуску и теплому глубокому небосводу, усыпанному звездами, заставляет задуматься о воплощении звездного неба над головой в условиях городских джунглей. Ведь так хочется вечером или ночью окунуться в бездну сияющих звезд, планет, галактик и газовых облаков, умиротворяясь и наполняясь силами и энергией для свершений завтрашнего дня. Эту сказку можно попытаться воплотить в жизнь, создав потолок Звездное небо своими руками ...

						.article.col-lg-4.col-md-5.col-sm-6.col-xs-6

						
							img(src="images/small_article_img.jpg" alt="")

							.aticle-categor
								.aticle-categor__title Новинки и идеи для дизайнеров
								.aticle-categor__message
									i.fa.fa-comments(aria-hidden="true")
									| 38
								.aticle-categor__views
									i.fa.fa-eye(aria-hidden="true")
									| 6194

							h6 Как сделать потолок «Звездное небо» своими руками

						.article.col-lg-4.col-md-5.col-sm-6.col-xs-6
							img(src="images/small_article_img.jpg" alt="")

							.aticle-categor
								.aticle-categor__title Новинки и идеи для дизайнеров
								.aticle-categor__message
									i.fa.fa-comments(aria-hidden="true")
									| 38
								.aticle-categor__views
									i.fa.fa-eye(aria-hidden="true")
									| 6194

							h6 Как сделать потолок «Звездное небо» своими руками

					.more-button-wrap
						button.more все статьи и советы		
				.row
					.col-lg-12
						footer

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Популярные запросы

								ul.li-arrow
									li
										a(href="#") Новинки
									li
										a(href="#") Распродажа
									li
										a(href="#") Ортопедическая обувь
									li
										a(href="#") Первый шаг
									li
										a(href="#") Сменная обувь
									li
										a(href="#") Нарядная обу
									li
										a(href="#") Колготы и носки

							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title О компании

								ul.li-arrow
									li
										a(href="#") Контакты
									li
										a(href="#") Оплата
									li
										a(href="#") Доставка и примерка
									li
										a(href="#") Возврат
									li
										a(href="#") Подарочная карта
									li
										a(href="#") Полезная информация	
									li
										a(href="#") Отзывы клиентов


							.footer__item.col-lg-4.col-sm-4.col-xs-6
								.footer_item-title Присоединяйтесь

								ul.li-social
									li
										i.fa.fa-vk(aria-hidden="true")
										a(href="#") вконтакте
									li
										i.fa.fa-facebook(aria-hidden="true")
										a(href="#") фейсбук
									li
										i.fa.fa-instagram(aria-hidden="true")
										a(href="#") инстаграмм
									li
										i.fa.fa-odnoklassniki(aria-hidden="true")
										a(href="#") одноклассники
									li
										i.fa.fa-shopping-cart(aria-hidden="true")
										a(href="#") яндекс маркет

									li
										a(href="#") Поделитесь вашим мнением!

							.designed.col-lg-12.col-xs-12 Дизайн: Владислав Павлычев





		script(type="text/javascript" src="libs/jquery/dist/jquery.min.js")
		script(type="text/javascript" src="libs/jquery-migrate/jquery-migrate.min.js")
		script(type="text/javascript" src="libs/slick-carousel/slick/slick.min.js")
		script(type="text/javascript" src="libs/bootstrap/dist/js/bootstrap.min.js")
		script(type="text/javascript" src="js/custom.js")
