@media screen and (max-width: 1200px)

	.wrapper
		margin: 0 auto
		max-width: 1280px

		header

			.form-log
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				align-items: center

				.header__search
					.input-icon
						left: 55px

			.header__body
				.header__body-inner
					padding-left: 15px
					padding-right: 15px
					max-width: 940px

				.header__menu-wrap
					order: 3
					position: relative

					.menu
						display: flex
						flex-wrap: wrap
						flex-direction: column
						height: auto
						width: 280px
						position: absolute
						right: 0
						top: 50px
						z-index: 999
						background: #fff
						display: none
						text-align: center

						li
							margin-bottom: 15px
							a
								font-size: 16px
								color: #3d3d3d
								font-family: "OpenSansBold"
								text-decoration: none
								display: block

							.parent
								background-position: 90% 50%


							
							&:hover ul
								left: -9999px

							ul
								text-align: center
								width: 260px
								padding-bottom: 0
								li
									margin-bottom: 5px
									a
										padding: 5px 15px 5px 9px

						.hover
							ul
								position: static
								li
							.parent
								background-image: url("../images/upArrow.png")

					.active-menu
						display: block
					
					.toggle-wrap
						display: block

				.header__button-wrap
					padding-top: 5px
					width: 210px
					text-align: right
					order: 2
		
		.calc-main
			padding: 45px 50px 10px

		.works
			display: flex
			flex-wrap: wrap
			.work
				
				.work__hover
					font-size: 16px

					.work__hover-inner
						.work__hover-button
							margin-top: 10px

		.oder-ceiling

			.ceiling
				.ceiling__block
					padding: 20px 20px 20px

					.ceiling__param
						.input-block
							margin-left: 20px

		.send-oder
			margin-bottom: 50px

			form
				display: flex
				flex-wrap: wrap
				justify-content: space-between

				.send-order__left
					.send-order__row1
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center
						margin-bottom: 20px

						.send-order__days
							margin-left: 20px
							margin-bottom: 20px

					.send-order__row2
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center

						.input-block
							&:first-child
								margin-bottom: 20px

@media screen and (max-width: 990px)

	h5
		font-size: 24px

	.wrapper
		margin: 0 auto
		max-width: 1280px

		header
			position: relative

			.header__body
				.header__body-inner
					padding-left: 15px
					padding-right: 15px
					max-width: 720px

			.header__search
				text-align: right
				font-size: 14px
				font-family: Arial, Helvetica, sans-serif
				
				.input-icon
					color: #585656
					position: absolute
					left: 10px

				input
					width: 100%
					background: #f4f4f4
					border: none
					color: #cecece
					font-size: 14px
					font-family: Arial, Helvetica, sans-serif
					padding: 9px 20px 9px 30px
					border-radius: 20px
					color: #353434

			.form-log
				width: 195px

				.header__search
					width: calc( 100% - 180px)
					text-align: right
					font-size: 14px
					font-family: Arial, Helvetica, sans-serif
					position: absolute
					top: 15px
					right: 180px
					display: none
					
					.input-icon
						color: #585656
						position: absolute
						left: 10px
						display: none


				.active-field
					display: block

				.header__search-icon
					display: block
					float: right
					color: #ccc
					cursor: pointer
					margin-right: 10px

		.company__item
			text-align: center
			width: 100%

		.calc-main
			padding: 45px 10px 10px

			input
				border: none
				padding: 10px
				margin-bottom: 27px
				width: 100%

			.calc-main-right
				padding-left: 20px

				.from-to
					font-size: 24px
					margin-top: 60px

				.blue_button
					width: 100%
					margin-top: 76px
	
		.company
			.sky_video
				width: 500px
				float: none
				margin: 0 auto 20px auto

		.works
			display: flex
			flex-wrap: wrap
			.work
				width: 50%
				
				.work__hover
					font-size: 16px

					.work__hover-inner
						margin-top: 10%
						.work__hover-button
							margin-top: 10px
		.oder-ceiling

			.ceiling
				.ceiling__block
					padding: 20px 20px 20px

					.ceiling__param
						width: 100%
						margin-top: 20px

		.mater-td
			p
				display: none

		.send-oder
			margin-bottom: 50px

			form
				display: flex
				flex-wrap: wrap
				justify-content: center

				.send-order__left
					width: 100%
					margin-bottom: 30px

					.send-order__row1
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center
						margin-bottom: 20px

						.send-order__days
							margin-left: 20px
							margin-bottom: 20px

					.send-order__row2
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center

						.input-block
							&:first-child
								margin-bottom: 20px


@media screen and (max-width: 768px)

	.wrapper
		header

			.header__body
				.header__body-inner
					padding-left: 15px
					padding-right: 15px

			.header__search
				width: calc( 100% - 40px)
				text-align: right
				font-size: 14px
				font-family: Arial, Helvetica, sans-serif
				position: absolute
				right: 40px
				top: 15px
				display: none
				
				i
					color: #585656
					position: absolute
					left: 10px
					display: none

				input
					width: 100%
					color: #cecece
					padding: 9px 20px 9px 30px
					border-radius: 20px
					color: #353434

			.active-field
				display: block

			.header__search-icon
				display: block
				float: right
				color: #ccc
				cursor: pointer
				margin-right: 10px

				.header__search-icon
					display: block
					float: right
					color: #ccc
					cursor: pointer
					margin-right: 40px

				.log-in
					margin-left: 50px


		.company__item
			margin-bottom: 30px

		.calc-main
			padding: 45px 10px 10px

			.calc-main-right
				padding-left: 130px
				padding-right: 130px

				.from-to
					font-size: 24px
					margin-top: 60px
					font-size: 24px

				.blue_button
					width: 100%
					margin-top: 30px
					margin-bottom: 30px

		.aticle-categor
			.aticle-categor__title
				float: none
				margin-top: 5px

		.oder-ceiling
			.ceiling
				.ceiling__block
					padding: 20px 20px 20px

					.ceiling__param
						width: 100%
						margin-top: 20px
						justify-content: space-between
						.input-block
							margin-left: 0
		
		.slick-prev
			left: 15px

		.slick-next
			right: 15px

	.oder-accessor

		table
			width: 100%

			thead
				tr
					td

						&:first-child
							display: none

			tbody
				tr 		
					td

						&:first-child
							display: none

			.mater-td
				padding-left: 10px !important


@media screen and (max-width: 720px)

	.wrapper
		.works
			.work
				.work__hover
					font-size: 16px

					.work__hover-inner
						margin-top: 0
						.work__hover-button
							margin-top: 10px

@media screen and (max-width: 640px)
	

	.h2-wrap
		text-align: center
		overflow: hidden
		width: 100%

	h2
		font-size: 24px
		font-family: "CleanvertisingBlack"
		text-transform: uppercase
		display: inline-block
		padding: 0 20px
		position: relative
		margin-bottom: 25px

		&:before
			content: ""
			position: absolute
			top: 50%
			right: 100%
			width: 300%
			height: 1px

		&:after
			content: ""
			position: absolute
			top: 50%
			left: 100%
			width: 300%
			height: 1px


	h3
		font-size: 20px
		color: #131315
		font-family: "IstokWebBold"
		margin: 10px 0 10px 0

	h4
		font-size: 24px
		color: #fff
		font-family: "IstokWebBold"

	h5
		font-size: 22px
		font-family: "CleanvertisingBlack"
		text-align: center

		span
			width: 28px
			height: 28px
			margin-right: 20px
			border-radius: 30px
			display: inline-block
			text-align: center
			line-height: 27px


	h6
		font-size: 22px
		color: #181818
		font-family: "IstokWebRegular"

	section
		margin-bottom: 40px


	.blue_button
		color: #fff
		background: #0188cc
		text-transform: uppercase
		font-family: "OpenSansBold"
		font-size: 14px
		padding: 10px 17px
		border: none
		border-radius: 5px

	.wrapper
		.article__title
			font-size: 22px
		header
			.header__body
				display: flex
				flex-wrap: wrap
				justify-content: space-between

				.logo
					width: 290px
					margin-bottom: 10px
					img
						float: left
						margin-right: 5px
						width: 80px
						height: auto
					h1
						font-size: 12px
						color: #535353

						span
							font-size: 24px
							font-family: "CleanvertisingBlack"
							display: block
							line-height: 26px

				.header__menu-wrap
					width: 100%

					.menu
						overflow-Y: scroll
						height: 200px

				.header__button-wrap
					width: calc( 100% - 290px)

			.form-log
				justify-content: center
				width: 100%
				margin-top: 15px

				.header__search
					width: 100%
					right: 0
		
		.company
			.company__video
				width: 360px
				float: none
				margin: 0 auto 20px

		.works
			display: flex
			flex-wrap: wrap
			.work
				width: 80%
				margin: 0 auto
				
				.work__hover
					font-size: 16px

					.work__hover-inner
						margin-top: 10%
						.work__hover-button
							margin-top: 10px
		.company
			.sky_video
				width: 90%
				margin: 0 auto 20px auto

		.oder-ceiling
			.ceiling
				.ceiling__block
					padding: 15px 15px 15px
					justify-content: center
					
					.ceiling__download
						margin-right: 15px

					.ceiling__manufact
						width: 270px
						margin-top: 13px

						select
							width: 100%
							color: #2a2a2a
							padding-left: 7px
							height: 30px

					.ceiling__param
						width: 100%
						margin-top: 20px
						justify-content: center

						.input-block
							width: 50%
							text-align: center
							margin-bottom: 10px

							input
								color: #2a2a2a
								width: 90px
								height: 30px
								box-sizing: border-box
								padding: 7px
								margin: 3px 10px 0 0

		.slider
			.slide
				.slide-text-wrap
					.slide-text
						font-size: 24px
						width: 220px

			.slick-dots
				bottom: 10px
				li
					width: 40px
					height: 20px
					button
						width: 40px
						height: 20px
						font-size: 14px
						line-height: 20px

		.slick-prev, .slick-next
			width: 35px
			height: 55px
			background-size: 100%
			top: calc(50% - 17px)

		.calc-main

			input
				border: none
				border-radius: 3px
				padding: 5px 10px
				text-align: right
				margin-bottom: 20px
				font-size: 18px
				width: 80%

			.calc-main-right
				padding-left: 80px
				padding-right: 80px

				.from-to
					font-size: 22px
					margin-top: 30px

		.company p
			padding-bottom: 20px
			font-size: 18px

		.star-sky p
			margin: 0 auto 20px auto

		.oder-accessor table tbody tr td input
			height: 30px

		.send-oder form .send-order__left .send-order__row1 
			.send-order__days .send-order__day
				width: 60px
				height: 60px

			.send-order__time
				select
					height: 30px

		.send-oder form .send-order__left .send-order__row2
			.input-block
				input
					height: 30px

		.oder-accessor h5
			margin-bottom: 20px 



@media screen and (max-width: 550px)
	
	.wrapper
		header
			.header__body
				display: flex
				flex-wrap: wrap
				justify-content: space-between

				.header__logo-wrap
					width: 100%

				.logo
					width: 280px
					margin-bottom: 10px
					margin-left: auto
					margin-right: auto
					img
						float: left
						margin-right: 5px
						width: 80px
						height: auto
					h1
						a
							font-size: 12px
							color: #535353

							span
								font-size: 24px
								font-family: "CleanvertisingBlack"
								display: block
								line-height: 26px

				.header__menu-wrap
					width: auto

				.header__button-wrap
					width: 215px

			.fixed-head
				position: fixed
				right: 0
				left: 0
				top: 0
				z-index: 991
				background: #fff
				padding-right: 14.5px
				padding-left: 14.5px

				.logo
					display: none


		.oder-accessor

			table, thead, tbody, th, td, tr
				display: block 

			table

				thead
					tr
					position: absolute
					top: -9999px
					left: -9999px

				tbody
					tr 
						border: 1px solid #ccc
		
						td
							border: none
							position: relative
							padding-left: 140px !important

							input
								width: 80px
							
							&:before
								position: absolute
								top: 0
								left: 0
								bottom: 0
								width: 130px
								background: #e2e2e2
								font-family: "OpenSansBold"
								font-size: 16px
								display: flex
								justify-content: center
								align-items: center


							&:nth-of-type(1):before
								content: "Фото"
							&:nth-of-type(2):before
								content: "Материал"
							&:nth-of-type(3):before
								content: "Количество"
							&:nth-of-type(4):before
								content: "Цена,шт "
							&:nth-of-type(5):before
								content: "Стоимость"
							&:nth-of-type(6):before
								content: "Удалить"

					.img-td
						padding-left: 160px

					.quantity-td
						width: 100%
						line-height: 30px

				.mater-td
					padding-left: 140px !important

	.send-order__days
		margin-top: 15px

@media screen and (max-width: 500px)
	
	.wrapper

		header
			.header__phone-oder
				display: flex
				flex-direction: column
				align-items: center
				width: calc( 100% - 40px)

			.header__phone
				text-align: left

			.header__search
				width: calc( 100% - 40px)
				text-align: right
				font-size: 14px
				font-family: Arial, Helvetica, sans-serif
				position: absolute

			.logo
				margin-bottom: 15px

				.header__search-icon
					display: block
					float: right
					color: #ccc
					cursor: pointer
					margin-right: 10px

				.log-in
					margin-left: 10px					


		.company
			.company__video
				width: 100%
				float: none
				margin: 0 auto 20px

		.calc-main
			.calc-main-right
				padding-left: 20px
				padding-right: 20px

		.works
			display: flex
			flex-wrap: wrap
			.work
				width: 100%
				margin: 0 auto
				
				.work__hover
					font-size: 16px

					.work__hover-inner
						width: 90%
						margin-top: 7%
						line-height: 22px
						.work__hover-button
							margin-top: 10px
		.company
			.sky_video
				width: 100%
				margin: 0 auto 20px auto

		.oder-ceiling
			.ceiling
				display: flex
				justify-content: space-between
				flex-direction: column
				margin-bottom: 10px

				.ceiling__block
					width: 100%

			.oder-ceiling__footer
				display: flex
				justify-content: space-between
				flex-direction: column-reverse

				.oder-ceiling__add
					margin-top: 20px

		.send-oder
			margin-bottom: 50px

			form

				.send-order__left
					width: 100%
					margin-bottom: 30px
					
					.send-order__title
						margin-bottom: 10px

					.send-order__row1
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center
						margin-bottom: 20px

						.send-order__days
							margin: 0 0 20px 20px
							justify-content: center

							.send-order__day
								margin: 0 5px 10px

					.send-order__row2
						display: flex
						flex-wrap: wrap
						justify-content: center
						align-items: center

						.input-block
							width: 100%

							input
								width: 60%
								margin-left: 10px
		.mt_40px
			margin-top: 40px
			display: block
			width: 300px
			margin-right: auto
			margin-left: auto
			clear: both

@media screen and (max-width: 430px)

	.wrapper
		.calc-main-descrip
			.form-descrip__item
				.form-descrip__img
					text-align: center

				.form-descrip__text
					text-align: center

		.oder-accessor
		
			table

				thead
					tr
					position: absolute
					top: -9999px
					left: -9999px

				tbody
					tr 
						border: 1px solid #ccc
		
						td
							border: none
							position: relative
							padding-left: 110px !important
							
							&:before
								width: 100px
								background: #e2e2e2
								font-size: 14px
								display: flex
								justify-content: center
								align-items: center

					.img-td
						padding-left: 110px

					.quantity-td
						width: 100%
				.mater-td
					padding-left: 110px !important

			.oder-accessor__footer
				display: flex
				justify-content: space-between
				flex-direction: column-reverse

				.oder-accessor__add
					margin-top: 20px

		.send-oder
			margin-bottom: 50px

			form

				.send-order__left
					width: 100%
					margin-bottom: 30px
					padding: 30px 20px 40px 20px

		.more
			width: 280px

		.log-modal
			padding: 15px 20px 15px
			width: 320px

		.log-modal__close, .reg-modal__close
			top: 10px

		.reg-modal
			width: 320px
			background: #0188cc
			box-sizing: border-box
			padding: 15px 20px
			color: #fff
			position: relative
			display: none

@media screen and (max-width: 375px)
	
	.wrapper

		header

			.header__body

				.header__menu-wrap

					.menu
						width: 100vw
						right: -29px

						li
							ul
								width: 100%
		.star-sky
			.blue_button
				padding-left: 10px
				padding-right: 10px

		.sky-catalog
			.blue_button
				padding-left: 10px
				padding-right: 10px

		.oder-ceiling
			.ceiling
				.ceiling__block
					.ceiling__manufact
						width: 100%

		.send-oder
			margin-bottom: 50px

			form
				.send-order__left
					.send-order__row1
						.send-order__days
							margin: 0 0 20px 0
							justify-content: center

							.send-order__day
								margin: 0 5px 10px
								width: 52px
								height: 52px