@import "bourbon"
@import reset

+font-face("CleanvertisingBlack", "../fonts/CleanvertisingBlack/CleanvertisingBlack", $file-formats: eot woff ttf)
+font-face("CleanvertisingLight", "../fonts/CleanvertisingLight/CleanvertisingLight", $file-formats: eot woff ttf)
+font-face("OpenSansBold", "../fonts/OpenSansBold/OpenSansBold", $file-formats: eot woff ttf)
+font-face("IstokWebBold", "../fonts/IstokWebBold/IstokWebBold", $file-formats: eot woff ttf)
+font-face("IstokWebRegular", "../fonts/IstokWebRegular/IstokWebRegular", $file-formats: eot woff ttf)
+font-face("IstokWebItalic", "../fonts/IstokWebItalic/IstokWebItalic", $file-formats: eot woff ttf)


body
	font-family: "CleanvertisingLight"
	font-size: 16px
	line-height: normal
	color: #454545


h1
	font-size: 14px
	color: #535353
	font-family: "CleanvertisingLight"

.h2-wrap
	text-align: center
	overflow: hidden
	width: 100%

h2
	font-size: 30px
	font-family: "CleanvertisingBlack"
	text-transform: uppercase
	display: inline-block
	padding: 0 20px
	position: relative
	margin-bottom: 25px

	&:before
		content: ""
		position: absolute
		top: 50%
		right: 100%
		width: 300%
		height: 1px

	&:after
		content: ""
		position: absolute
		top: 50%
		left: 100%
		width: 300%
		height: 1px

.s_white

	h2
		color: #111111
		
		&:before
			background: #ccc

		&:after
			background: #ccc
.s_dark 

	h2
		color: #fff
		
		&:before
			background: #ccc

		&:after
			background: #ccc

h3
	font-size: 20px
	color: #131315
	font-family: "IstokWebBold"
	margin: 10px 0 10px 0

h4
	font-size: 28px
	color: #fff
	font-family: "IstokWebBold"

h5
	font-size: 24px
	font-family: "CleanvertisingBlack"
	margin-bottom: 25px
	text-align: center

	span
		width: 30px
		height: 30px
		margin-right: 20px
		border-radius: 30px
		display: inline-block
		text-align: center
		line-height: 27px

.s_white
	h5
		color: #0188cc

		span
			background: #0188cc
			color: #fff

.s_dark
	h5
		color: #fff

		span
			background: #fff
			color: #0188cc

h6
	font-size: 24px
	color: #181818
	font-family: "IstokWebRegular"

section
	margin-bottom: 70px


.blue_button
	color: #fff
	background: #0188cc
	text-transform: uppercase
	font-family: "OpenSansBold"
	font-size: 16px
	padding: 10px 17px
	border: none
	border-radius: 5px

.more
	font-size: 20px
	color: #606060
	font-family: "CleanvertisingLight"
	width: 360px
	height: 45px
	line-height: 38px
	text-align: center
	background: #fff
	border: 1px solid #606060
	border-radius: 3px
	position: relative
	z-index: 1
	transition: all 0.3s

	&:after
		width: 0%
		height: 100%
		top: 0
		left: 0
		background: #606060
		content: ''
		position: absolute
		z-index: -1
		transition: all 0.3s
	
	&:hover,
	&:active
		color: #fff

	&:hover:after,
	&:active:after 
		width: 100%

.collapse_button
	color: #454545
	font-family: "OpenSansBold"
	text-decoration: underline
	float: right
	margin-bottom: 30px
	position: relative
	top: -15px

	&:hover,
	&:focus
		text-decoration: none
		color: #454545

.s_dark
	.collapse_button
		color: #fff



/*   loader   */

.loader
	background: none repeat scroll 0 0 #fff
	bottom: 0
	height: 100%
	left: 0
	position: fixed
	right: 0
	top: 0
	width: 100%
	z-index: 10

	.loader_inner
		background-image: url("../images/preloader.gif")
		background-size: cover
		background-repeat: no-repeat
		background-posirion: center center
		background-color: #fff
		height: 60px
		width: 60px
		margin-top: -30px
		margin-left: -30px
		left: 50%
		top: 50%
		position: absolute

/*   loader end   */


.wrapper
	margin: 0 auto
	max-width: 1280px
	overflow: hidden
	position: relative

	header
		padding-top: 15px

		.header__phone-oder
			display: flex
			justify-content: center
			float: left
			padding-left: 15px
		.header__phone
			font-size: 18px
			color: #01173d
			font-family: "OpenSansBold"
			text-align: right
			margin-top: 4px
			margin-right: 35px

		.header__oder
			margin-top: 7px
			a
				font-size: 14px
				color: #60a3d3
				font-family: Arial, Helvetica, sans-serif
				border-bottom: 1px dotted #60a3d3
				text-decoration: none

				&:hover
					border-bottom: none

		.header__search
			width: 45%
			text-align: right
			font-size: 14px
			font-family: Arial, Helvetica, sans-serif
			position: relative
			float: right
			padding-right: 15px
			
			.input-icon
				color: #585656
				position: absolute
				left: 75px
				top: 11px
			input
				width: 90%
				background: #f4f4f4
				border: none
				color: #cecece
				font-size: 14px
				font-family: Arial, Helvetica, sans-serif
				padding: 9px 20px 9px 50px
				border-radius: 20px
				color: #353434

				&:focus
					outline: none

		.header__search-icon
			display: none
		
		.form-log
			display: flex
			flex-wrap: wrap
			justify-content: space-between
			align-items: center
			float: right
			padding-right: 15px
			width: 60%

			.header__search
				width: calc( 100% - 140px)

		.log-in
			width: 140px
			text-align: right
			background: url(../images/log-in.png) center left no-repeat
			padding: 8px 0 2px

			a
				border-bottom: 1px dotted #0188cc
				text-decoration: none

		.header__body
			padding: 15px 0 15px
			
			.header__body-inner
				display: flex
				flex-wrap: wrap
				justify-content: space-between
				max-width: 1140px
				width: 100%
				margin: 0 auto

			.logo
				width: 315px
				img
					float: left
					margin-right: 5px
				h1
					a
						font-size: 14px
						color: #535353

						span
							font-size: 33px
							font-family: "CleanvertisingBlack"
							display: block
							line-height: 26px

						.logo-star
							color: #2498d3
							float: left

						.logo-profit
							color: #3db3ee

						&:hover
							text-decoration: none

			.header__menu-wrap
				.menu
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					align-items: center
					height: 53px
					width: 595px

					li
						position: relative
					
						a
							font-size: 16px
							color: #3d3d3d
							font-family: "OpenSansBold"
							text-decoration: none
							padding: 5px 15px 5px 9px

							&:hover
								color: #ccc
						
						.parent 
							background-image: url("../images/downArrow.png")
							background-repeat: no-repeat
							background-position: right

						&:hover ul
							left: 0

						ul
							position: absolute
							top: 23px
							left: -9999px
							z-index: 995
							width: 190px
							background: #fff
							padding: 15px
							
							li
								padding: 5px 0

								a
									font-size: 14px

				.toggle-wrap
					display: none

					/*  button animation  */

					.toggle-button
						width: 30px
						height: 30px
						float: right
						margin: 15px 10px 0 0
						cursor: pointer
						span
							display: block


					$w: 28px
					$h: 3px

					.sandwich 
						width: $w
						height: $w
						margin: auto
						z-index: 200

					.sw-topper
						position: relative
						top: 0
						width: $w 
						height: $h
						background: #ccc
						border: none
						border-radius: 4px 4px 4px 4px
						transition: transform 0.5s, top 0.2s
						display: block
								
						//transition-delay: 0.2s, 0s


					svg
						path
							fill: #e0e0e0

					.sw-bottom
						position: relative
						width: $w
						height: $h
						top: $h * 2.2
						background: #ccc
						border: none
						border-radius: 4px 4px 4px 4px
						transition: transform 0.5s, top 0.2s
						transition-delay: 0.2s, 0s
					.sw-footer
						position: relative
						width: $w
						height: $h
						top: $h * 4.5
						background: #ccc
						border: none
						border-radius: 4px 4px 4px 4px
						transition: all 0.5s
						transition-delay: 0.1s
					.sandwich.active
						.sw-topper
							top: 9px
							transform: rotate(-45deg)
						.sw-bottom
							top: 6px
							transform: rotate(45deg)
						.sw-footer
							opacity: 0
							top: 0
							transform: rotate(180deg)
					
					/*  button animation end */


			.header__button-wrap
				padding-top: 5px
				width: 210px
				text-align: right

		.fixed-head
			position: fixed
			right: 0
			left: 0
			top: 0
			z-index: 991
			background: #fff
			padding-right: 14.5px
			padding-left: 14.5px

	
	.slider
		margin-bottom: 40px
		.slide
			position: relative

			.slide-text-wrap
				display: flex
				justify-content: center
				align-items: center
				position: absolute
				left: 0
				top: 0
				bottom: 0
				right: 0

				.slide-text
					font-size: 35px
					color: #b8c1cf
					font-family: "CleanvertisingBlack"
					line-height: 32px
					width: 320px

					span
						color: #a9e7ef

					.slide-text__span
						margin-left: 15px
				
			img
				width: 100%


		.slick-dots
			position: absolute
			bottom: 20px
			display: block
			width: 100%
			padding: 0
			margin: 0
			list-style: none
			text-align: center

			li
				position: relative
				display: inline-block
				width: 60px
				height: 30px
				margin: 0 5px
				padding: 0
				cursor: pointer

				button
					display: block
					width: 60px
					height: 30px
					line-height: 30px
					cursor: pointer
					color: #fff
					border: 0
					outline: none
					background: #0188cc
					border-radius: 5px
					font-family: "IstokWebBold"
					font-size: 18px

			.slick-active
				button
					background: #fff
					color: #0188cc

	.company
		overflow: hidden

		.company__video
			width: 360px
			float: left
			margin: 0 20px 20px 0

		p
			padding-bottom: 35px
			font-size: 20px

	.company_star-page
		padding-bottom: 30px
		border-bottom: 1px solid #ccc
	.company__item
		text-align: center
		width: 80%
		margin: 0 auto

		img
			height: 70px

	.company__item_star-page
		margin-top: 50px
	.calc-main
		background: #e9e9e9
		padding: 45px 100px 10px

		input
			border: none
			border-radius: 3px
			padding: 10px
			text-align: right
			margin-bottom: 35px
			font-size: 20px
			width: 80%

		.calc-main-right
			padding-left: 80px
			.from-to
				font-family: "OpenSansBold"
				font-size: 30px
				color: #131315
				margin-top: 50px

				.from
					float: left
				.to	
					float: right

			.blue_button
				width: 100%
				margin-top: 86px

	.calc-main-descrip
		border: 1px solid #e9e9e9
		display: none

		.show-result-close 
			font-size: 12px
			font-family: "IstokWebBold"
			color: #757575
			text-align: right
			padding: 15px 20px  10px 0

			a
				background: url(../images/close_btn.png) center right no-repeat
				padding: 2px 30px 2px 0
				color: #757575
			
		.form-descrip__item
			margin-bottom: 35px
			
			.form-descrip__img
				text-align: right

			.form-descrip__text
				font-size: 20px

				.form-descrip__price
					font-family: "IstokWebBold"
					color: #131315
					margin-top: 10px

	.catalog__item
		margin-bottom: 20px
		.catalog__img
			position: relative
			margin-bottom: 20px
		
		.h4-wrap
			position: absolute
			left: 0
			top: 0
			bottom: 0
			right: 0
			display: flex
			flex-direction: column
			justify-content: center


			h4
				text-shadow: 2px 2px 8px #131315
				text-align: center
		img
			width: 100%
		
		.catalog__links
			li
				position: relative
				padding-left: 10px
				margin-bottom: 7px

				&:before
					content: "›"
					position: absolute
					width: 4px
					height: 8px
					top: 0
					left: 0
				a
					color: #535353
					font-size: 18px

					&:hover
						color: #0069a5

		.catalog__middle
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.catalog__links
				width: 49%

	.works
		display: flex
		flex-wrap: wrap
		.work
			width: 33.3%
			position: relative
			line-height: 0

			img
				width: 100%
				height: auto
			
			.work__hover
				left: 0
				right: 0
				top: 0
				bottom: 0
				font-size: 20px
				color: #fff
				font-family: "IstokWebRegular"
				position: absolute
				background: rgba(51,135,183,0.7)
				transform: scaleY(0)
				transition: all 0.3s linear 0s

				.work__hover-inner
					width: 80%
					padding-top: 10%
					text-align: center
					margin: 0 auto
					line-height: 26px
					display: block

					.work__hover-button
						margin-top: 20px
						display: block
						
						.work__button
							background: transparent
							border: 1px solid #fff
							padding: 4px 18px
							border-radius: 3px
							transition: all 0.5s

							&:hover
								background: #fff
								color: #3387b7

			&:hover .work__hover
				transform: scaleY(1)
	
	.more-button-wrap
		margin-top: 35px 
		text-align: center

	.article
		margin-bottom: 30px
		img
			width: 100%

	.article__title
		font-size: 34px
		color: #181818
		font-family: "IstokWebRegular"
		margin-bottom: 20px

	.aticle-categor
		overflow: hidden
		color: #7f7f7f
		margin: 20px 0

		.aticle-categor__title
			float: left

		.aticle-categor__views, .aticle-categor__message
			float: right
			font-size: 14px

			i
				margin-right: 10px

		.aticle-categor__message
			margin-left: 15px

	footer
		border-top: 1px solid #606060

		.footer__item
			margin-top: 30px
			padding-left: 70px

			.footer_item-title
				font-family: "OpenSansBold"
				color: #2eaded
				margin-bottom: 10px

			ul.li-arrow
				li
					position: relative
					padding-left: 10px
					margin-bottom: 7px

					&:before
						content: "›"
						position: absolute
						width: 4px
						height: 8px
						top: 0
						left: 0
						color: #0083ca
					a
						color: #0083ca

			ul.li-social
				li
					margin-bottom: 7px

					i
						display: block
						width: 10px
						float: left
					a
						color: #0083ca
						padding-left: 15px

	.designed
		text-align: right
		margin-bottom: 35px


	/*   страница звездное небо   */


	.star-sky, .sky-catalog
		text-align: center
		color: #fffefe
		padding: 30px 0 50px 0

	.star-sky
		background: url(../images/star-sky_bg.jpg) no-repeat
		background-size: cover

		.star-sky_bold
			font-family: "CleanvertisingBlack"
			font-size: 20px

		p
			margin: 0 auto 35px auto
			width: 90%
			font-size: 18px
			line-height: 24px

		.blue_button
			padding-left: 30px
			padding-right: 30px
	
	.company
		.sky_video
			width: 500px
			float: left
			margin: 0 40px 20px 0


	/* звездное небо каталог */

	.sky-catalog
		background: url(../images/sky-catalog_img.jpg) no-repeat
		background-size: cover
	
		.star-sky_bold
			font-family: "CleanvertisingBlack"
			font-size: 20px

		p
			margin: 0 auto 35px auto
			width: 90%
			font-size: 18px
			line-height: 24px

		.blue_button
			padding-left: 30px
			padding-right: 30px

	.catalog__specific
		text-align: center
		padding-top: 20px
		margin-bottom: 60px
		
		.catalog__title a
			font-size: 18px
			text-decoration: underline

		.catalog__descr
			font-size: 18px
			padding: 10px 0

		.catalog__price
			font-size: 20px
			color: #131315
			font-family: "IstokWebBold"

			.catalog__sale
				font-size: 20px
				color: #f80202
				font-family: "IstokWebItalic"
				text-decoration: line-through			

		.catalog__stars
			font-size: 14px
			margin-top: 10px

	.catalog__h2
		margin-bottom: 20px


	/*   страница "заказать потолок"   */

	.oder-ceiling
		background: #0188cc
		color: #fff
		padding: 30px 0 30px

		a
			color: #fff

		.ceiling
			display: flex
			justify-content: space-between
			margin-bottom: 10px

			.ceiling__number
				width: 20px
				display: flex
				justify-content: center
				flex-direction: column
				align-items: center
				font-family: "IstokWebBold"


			.ceiling__block
				border: 1px solid #fff
				padding: 20px 50px 20px
				display: flex
				align-items: center
				justify-content: space-between
				flex-wrap: wrap
				width: calc( 100% - 30px)

				.ceiling__download
					width: 120px
					text-align: center
					display: flex
					padding-top: 5px

					img
						display: block
						margin: 0 auto 10px

					a
						font-size: 14px

				.ceiling__buttons
					margin-top: 23px

					a
						background: transparent
						border: 1px solid #fff
						padding: 4px 18px
						transition: all 0.5s
						width: 117px
						display: block
						text-align: center
						margin-bottom: 11px

						&:hover, &:focus
							background: #1f5597
							color: #fff
							text-decoration: none

				.ceiling__manufact
					width: 270px
					margin-top: 13px

					select
						width: 100%
						color: #2a2a2a
						padding-left: 7px
						height: 40px

						&:first-child
							margin-bottom: 31px
				
				.ceiling__param
					width: 330px
					display: flex
					flex-wrap: wrap

					.input-block
						width: 140px
						margin-bottom: 10px

						input
							color: #2a2a2a
							width: 90px
							height: 40px
							box-sizing: border-box
							padding: 7px
							margin: 3px 10px 0 0

		.oder-ceiling__footer
			display: flex
			justify-content: space-between
			padding: 20px 15px 0

			.oder-ceiling__add
				width: 170px
				background: url(../images/oder-ceiling__add.png) left 5px no-repeat
				padding-left: 30px

				a
					font-family: "OpenSansBold"
					font-size: 14px
					border-bottom: 1px dotted #fff

					&:hover
						text-decoration: none

			.oder-ceiling__result
				width: 215px

				table
					width: 100%

					tr
						td
							font-size: 14px
							font-family: "IstokWebBold"

							&:nth-child(2)
								text-align: right
					tfoot
						td
							font-size: 18px
							font-family: "IstokWebBold"

							&:nth-child(2)
								text-align: right
	
	.oder-accessor
		
		h5
			margin-bottom: 50px
		table
			thead
				background: #e2e2e2
				tr
					height: 35px
					line-height: 35px
					td
						font-family: "OpenSansBold"
						font-size: 16px
						padding: 0 10px
			
			tbody
				tr
					margin-bottom: 20px
					td
						vertical-align: middle
						padding: 10px

						input
							width: 85px
							height: 40px
							border: 1px solid #ccc
							margin-right: 10px
							border-radius: 3px
							box-sizing: border-box
							padding-left: 7px

				.img-td
					padding-left: 0

				.quantity-td
					width: 140px

			.mater-td
				padding-left: 40px

				.mater-title
					font-family: "OpenSansBold"
					font-size: 16px

		.oder-accessor__footer
			display: flex
			justify-content: space-between
			border-top: 1px solid #ccc
			padding: 15px 0
	
			.oder-accessor__add
				background: url(../images/oder-accessor__add.png) left 2px no-repeat
				padding-left: 30px

				a
					font-family: "IstokWebBold"
					font-size: 14px
					border-bottom: 1px dotted #0188cc
					color: #0188cc

					&:hover
						text-decoration: none

	.font_18istok 
		font-family: "IstokWebBold"
		font-size: 18px
		color: #282828

	.send-oder
		margin-bottom: 50px

		form
			display: flex
			flex-wrap: wrap
			justify-content: space-between

			.send-order__left
				background: #0188cc
				color: #fff
				padding: 30px 40px 40px 45px
				width: calc( 100% - 280px)
				.send-order__row1
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					align-items: center
					margin-bottom: 40px

					.send-order__days
						width: 350px
						display: flex
						flex-wrap: wrap
						justify-content: space-between
						
						.send-order__day
							width: 80px 
							height: 80px
							border: 1px solid #fff
							font-size: 14px
							display: flex
							flex-direction: column
							justify-content: center
							align-items: center
							cursor: pointer

							span
								font-family: "OpenSansBold"
								font-size: 16px

						.day_active
							background: #1f5597

					.send-order__time
						width: 280px
						display: flex
						flex-wrap: wrap
						justify-content: space-between
						align-items: center

						select
							color: #2a2a2a
							padding-left: 7px
							height: 40px
							width: 215px					

				.send-order__title
					font-family: "OpenSansBold"
					font-size: 16px

				.send-order__row2
					display: flex
					flex-wrap: wrap
					justify-content: space-between
					align-items: center

					.input-block
						width: 350px
						display: flex
						flex-wrap: wrap
						justify-content: space-between
						align-items: center

						input
							width: 250px
							height: 40px
							padding-left: 7px
							color: #2a2a2a

			.send-order__right
				width: 240px

				.send-order__right-title
					font-family: "IstokWebBold"
					font-size: 18px

				table
					font-size: 14px
					width: 100%
					margin-bottom: 40px
					margin-top: 20px
					
					tr
						td
							&:nth-child(2)
								text-align: right

					tfoot
						tr
							td
								padding-top: 20px

				.blue_button
					width: 100%
	
	/*   модальные окна    */

	.underlay
		position: fixed
		top: 0
		left: 0
		bottom: 0
		right: 0
		background: rgba(255,255,255,0.8)
		z-index: 1000
		display: none
	
	.active-underlay
		display: flex
		justify-content: center
		align-items: center

	.log-modal
		width: 400px
		background: #0188cc
		box-sizing: border-box
		padding: 35px 60px
		color: #fff
		position: relative
		overflow: hidden

		.log-modal__form
			input[type="text"]
				width: 100%
				height: 35px
				color: #2a2a2a
				padding-left: 10px
				margin-top: 5px
				margin-bottom: 15px
			
			.log_pass
				float: left

			.log-modal__forgot
				float: right
				text-decoration: underline
			
			label
				margin-bottom: 10px

				input[type="checkbox"]
					margin-right: 10px
				span
					cursor: pointer

			input[type="submit"]
				width: 140px
				height: 50px
				font-family: "OpenSansBold"
				font-size: 16px
				color: #3d3d3d
				background: #fff
				border: none
				border-radius: 3px
				float: left

			.log-modal__reg
				margin: 15px 20px 0 0
				float: right
				text-decoration: underline
				cursor: pointer

	.log-modal__close, .reg-modal__close
		background: url(../images/log-modal__close.png)  no-repeat
		width: 22px
		height: 22px
		position: absolute
		right: 20px
		top: 20px
		cursor: pointer

	.reg-modal
		width: 400px
		background: #0188cc
		box-sizing: border-box
		padding: 25px 60px
		color: #fff
		position: relative
		display: none

		.reg-title
			font-family: "OpenSansBold"
			font-size: 20px
			margin-bottom: 30px

		.reg-modal__name
			width: 100%
			height: 35px
			color: #2a2a2a
			padding-left: 10px
			margin-top: 5px
			margin-bottom: 15px		

		.reg-modal_phone
			width: 70%
			height: 35px
			color: #2a2a2a
			padding-left: 10px
			margin-top: 5px
			margin-bottom: 15px

		.error_input
			border: 2px solid red
			color: red
		.error_after
				font-size: 14px
				font-family: "OpenSansBold"
				margin-left: 15px

		label
			span
				margin-left: 15px
				font-size: 14px 

		input[type="submit"]
			width: 210px
			height: 50px
			font-family: "OpenSansBold"
			font-size: 16px
			color: #3d3d3d
			background: #fff
			border: none
			border-radius: 3px
			float: left
			margin: 15px 0

		.reg-modal__agreed
			clear: both
			font-size: 14px

			a
				color: #fff		

@import media